# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/

# IDE
.vscode/
.idea/
# Mongo local data
data/

# Logs
logs/
